ORMLite/target/classes/META-INF/
ORMLite/target/classes/META-INF/maven/com.team7/ORMLite/
*.properties
ORMLite/src/main/resources/new.properties
ORMLite/target/classes/META-INF/maven/com.team7/ORMLite/pom.properties
ORMLite/target/classes/new.properties
